<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamproject.theglory.mapper.GoodsMapper" >
	
	<select id="goodsList" resultType="Goods" resultMap="goodsResultMap" >
		SELECT
			*
		FROM goods
		ORDER by no asc
	</select>
	

	
	<resultMap type="Goods" id="goodsResultMap">
		<id property="no" column="no"/>
		<result property="name_goods" column="name_goods"/>
		<result property="explain_goods" column="explain_goods"/>
		<result property="pic_goods" column="pic_goods"/>
		<result property="value_goods" column="value_goods"/>
	</resultMap>
	
</mapper>