<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- http://www.mybatis.org/mybatis-3/ko/index.html 참고 -->
	
<mapper namespace="com.teamproject.theglory.mapper.LocationMapper">

<select id="locationMap" resultType="LocationMap" parameterType="hashmap" resultMap="LocationMapResultMap">
   SELECT location_name , location_address , location_tel , latitude , longitude FROM location 
   ORDER BY location_no
   LIMIT #{startRow}, #{num}      
</select>

<select id="addressAction" resultType="LocationMap" resultMap="LocationMapResultMap">
      select location_name , location_address , location_tel , latitude , longitude , area_no
      ,location_no
      from location where location_address like CONCAT('%', #{locationAddress},'%') 
      ORDER BY location_no
      LIMIT #{startRow}, #{num}  
</select>


<select id="areaAction" resultType="LocationMap" parameterType="hashmap" resultMap="LocationMapResultMap">
       select location_name , location_address , location_tel , latitude , longitude , area_no
       ,location_no
       from location where area_no = #{areaNo}
       ORDER BY location_no
       LIMIT #{startRow}, #{num}      
</select> 

<select id="getLocationCount" resultType="int">
       select count(location_no) from location
 
</select> 

<select id="getAreaCount" resultType="int">
       select count(location_no) from location
       where area_no = #{areaNo}
</select> 

<select id="getAddressCount" resultType="int">
       select count(location_no) from location
       where location_address like CONCAT('%', #{locationAddress},'%') 
</select> 


<resultMap type="LocationMap" id="LocationMapResultMap">
    <id  property="locationNo" column="location_no"/>
   <result  property="locationName" column="location_name"/>
   <result property="locationAddress" column="location_address"/>    
   <result property="tel" column="location_tel"/>      
   <result property="latitude" column="latitude"/>  
   <result property="longitude" column="longitude"/>   
   <result property="areaNo" column="area_no"/>         
</resultMap>
</mapper>